/* body {
  background-image: url("m.jpg");

  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */
header {
  position: fixed;
  z-index: 1;
}
body { 
    background: linear-gradient(
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ), url("meteorshower.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h1 {
    position: fixed;
    top: 0;
    left: 0;
    text-transform: uppercase;
    margin: 0;
    font-size: 30px;
    white-space: nowrap;
    color: white;
    text-align: center;
    background: rgba(115, 115, 115, 0.8);
    /* border-color: #DAA520; */
    /* border: 12px solid #DAA520; */
    width: 100%;
    padding: 35px;
    border-left-style: hidden;
    border-right-style: hidden;
}
.topnav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 97px;
  left: 0;
  width: 100%;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #DAA520;
  color: white;
}
.topnav-centered p {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  margin: auto;
  font-weight: bold;
  text-align: center;
}
.content {
  font-size: 23px;
  color: white;
  text-align: center;
  background: rgba(115, 115, 115, 0.8);
  border: 5px solid #DAA520;
  width: 60%;
  padding: 20px;
  margin: auto;
  height: auto;
}
.content h3 {
  text-decoration: underline;
}
.content p {
  font-size: 18px;
  text-align: center;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.alert-message {
  padding: 8px;
  background-color: lightgreen;
  color: rgb(39, 97, 39);
  width: 300px;
  font-size: 18px;
  font-weight: 400;
}
.alert-info {
  padding: 8px;
  background-color: lightskyblue;
  color: rgb(43, 85, 110);
  width: 300px;
  font-size: 18px;
  font-weight: 400;
}
.alert-error {
  padding: 8px;
  background-color: red;
  color: rgb(126, 15, 15);
  width: 300px;
  font-size: 18px;
  font-weight: 400;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  color: white;
  background-color: #333;
  height: 50px;
  margin: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

a:link {
  text-decoration: none;
  color: white;
}
a:visited {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: underline;
  color: lightskyblue;
}